* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 3rem;
    background-color: rgb(25,25,25);
    color: rgb(214, 214, 214);
    min-height: 100vh;
    
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    /* place-content: center; */
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.2em;
    text-align: center;
}

p {
    text-align: center;
}

main {
    flex-grow: 1;
    /*display: grid;
    place-content: center;*/
}

a {
    
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

nav {
    padding-bottom: 10px;
    background-color: #0f0f0f;
    margin-bottom: 20px;
    width: 100vw;
    
}

li{
    padding-top: 10px;
    font-size: 0.8em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.post {
    margin-bottom: 100px;

    p {
        margin: 10px 5%;
        font-size: 2rem;
        text-align: justify;
    }

    h2 {
        margin: 1% 5%;
        text-align: left;
        font-size: 2.1rem;
    }
}

.post_page{
    p{
        margin: 20px 5%;
        font-size: 0.9em;
    }

    h1{
        color: #81dbb8;
        margin-top: 1%;
        text-align: center;
        font-size: 1.2em;
    }
}

.communities {
    margin-bottom: 50px;

    p {
    margin: 1% 5%;
    font-size: 2rem;
    text-align: center;
    }

    h2 {
        margin-top: 5%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 2.1rem;
    }
}

.comm_page{
    p{
        margin: 20px 5%;
        font-size: 0.7em;
    }

    h1{
        color: #81dbb8;
        margin-top: 1%;
        text-align: center;
        font-size: 1.2em;
    }
}

button{
    padding: 5px 25px;
    border-radius: 10px;
    background-color: #81dbb8;
    font-size: 0.6em;
    border: none;

    &:hover{
        background-color: #6fc7a5;
    }
}

.form{
    h1{
        color: #81dbb8;
        margin-top: 1%;
        text-align: center;
        font-size: 1.2em;
    }
    input{
        font-size: 0.5em;
    }

    label{
        font-size: 0.8em;
    }
}